@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inside wrapper set height compared to viewport i.e.100vh and for not scrolling in x-axis that's why overflow-x:hidden and perpective is necessary for activating z-axis or 3d work */
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 15px;
}
/* transform-style is also important so that it help to preserve 3d motion and also position is relative because if we want to position absolute then the condition is previous ancestor must be non-static so here position is relative. Z-index is for layering */
.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
/* translateZ ia used to take image far from eys and scale is just to zoom out image */
.background{
    transform: translateZ(-40px) scale(4);
}

.foreground{
    transform: translateZ(-30px) scale(3);
}

#head{
    position:absolute;
    color: white;
    font-size: 160px;
    top: 80px;
    letter-spacing: 10px;
    text-shadow: 0 0 0 0.3 rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}


.background,.foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

section {
    background-color: rgb(45, 45, 45);
    padding: 5rem 0 ;
    color: white;
}

.Secheading{
    font-size: 5rem;
    padding:0 10rem;
    font-family: 'Poppins', sans-serif;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    font-family: 'Poppins', sans-serif;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.heading{
    position:absolute;
    color: black;
    background-color: white;
    margin-left:44%;
    margin-top: 13rem;
    font-size: 3.5rem;
    border-radius: rounded;
}

.bg1{
    background-image: url(sport-1.jpg);
}

.bg2{
    background-image: url(sport-2.webp);
}

.bg3{
    background-image: url(sports-3.jpg);
}

